body {
  background-color: #121212;
  color: white;
  font-family: 'Courier New', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  text-align: center;
  width: 80%;
}

.title {
  font-size: 3rem;
  color: #00ff00;
  text-shadow: 0px 0px 10px #00ff00;
}
